<mat-nav-list>
    <a mat-list-item routerLink="/prof/projects" routerLinkActive="active-link">
      <mat-icon>folder</mat-icon>
      <span>Projets étudiants</span>
    </a>
    <a mat-list-item routerLink="/prof/evaluations" routerLinkActive="active-link">
      <mat-icon>grading</mat-icon>
      <span>Évaluations</span>
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">
      <mat-icon>insights</mat-icon>
      <span>Statistiques</span>
    </a>
  </mat-nav-list>
  