:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 160px); /* Adjust based on navbar/footer height */
  background-color: #f9fafb; /* bg-gray-50 */
}

/* Style for the gradient branding panel */
.branding-panel {
  background: linear-gradient(to top right, #c81e1e, #ef4444);
}